*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P';

}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d73b3b;
}
#logocontainer{
  display: flex;
  justify-content: center;
}
#logo{
  margin-bottom: 2rem;
}
.container{
  display: flex;
  border: solid 1px;
  border-color: rgba(27, 16, 16, 0.76);
  border-radius: 20px;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  min-width: 20rem;
  min-height: 20rem;
  background: #3B4CCA;
}
.screenPokemon{
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
.pokemonInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
}
.pokemonSprite{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeimg{
  width:15rem;
}
button{
  color: black;
  background: #FFDE00;
  border-radius: 20px;
  border: solid 1.5px;
  padding: 0.6rem;
  border-color: rgba(27, 16, 16, 0.76);
  margin-left: 1rem;
}
.buttondiv{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button.buttonRandom{
  transition: .5s;
  transition-timing-function: ease;
}
button:hover{
  transform: scale(1.1);
}
.pokemonName{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
.pokemonNumber{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
#pokemonType1{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
#pokemonType2{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
#pokemonAbility1{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
#pokemonAbility2{
  color: rgb(18, 18, 18);
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
.types{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.abilities{
  display: flex;
  flex-direction: row;
  width: 100%;
}
h4{
  padding: 0.5rem;
  color: whitesmoke;
}
#searchbar{
  display: flex;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.favpokemonName{
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#favpokemonSpriteOne{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

#signup-form {
  display: none;
}

.error-message {
  padding: 5px;
  border: 2px solid #FFDE00;
  border-radius: 3px;
  color: white;
}
.containerTwo{
  display: flex;
  align-items: center;
  border: solid 1px;
  border-color: rgba(27, 16, 16, 0.76);
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  min-height: 3rem;
  background: #3B4CCA;
  margin-top:2.2rem;
  background-color: whitesmoke;
  border: solid 2px;
  border-radius: 20px;
  border-color: darkgrey;
  padding: 0.5rem;
}
#citiesPokemon{
  margin-left: 3rem;
  margin-right: 3rem;

}
.mainContainer{
  display: flex;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  min-width: 20rem;
  min-height: 20rem;
}
#logout-btn{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#FavPokemonHeader{
  margin-bottom: 0.5rem;
}
